[submodule "src"]
	path = src
	url = https://github.com/toltec-astro/Kidscpp_src
	branch = master
[submodule "common_utils"]
	path = common_utils
	url = https://github.com/toltec-astro/common_utils
	branch = kids_dev
